@if (estaCarregandoPagina) {
    <lm-loader id="lista_categoria_loader" titulo="Carregando dados" />
} @else {
    <ng-template #botaoAdicionar>
        <p-button
            class="tracking-wide"
            label="Adicionar"
            size="small"
            (click)="adicionarCategoria()"
        ></p-button>
    </ng-template>

    @if (mostrarEstadoInicialVazio) {
        <lm-nenhum-resultado
            id="lista_categoria_nenhum_resultado"
            titulo="Você ainda não possui categorias cadastradas"
            descricao="Toque no botão adicionar para criar uma categoria."
        >
            <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
        </lm-nenhum-resultado>
    } @else {
        <div class="container m-auto">
            <div class="px-4">
                <lm-titulo-pagina id="lista_categoria_titulo">
                    <ng-container>Todas as categorias</ng-container>
                    <ng-container
                        *ngTemplateOutlet="botaoAdicionar"
                        botao
                    ></ng-container>
                </lm-titulo-pagina>

                <div class="flex flex-col gap-4">
                    @for (item of itens; track item; let ultimo = $last) {
                        <lm-item-lista
                            [id]="item.id"
                            [titulo]="item.titulo"
                            (aoClicarAcao)="receberAcao($event, item)"
                        />
                    }
                </div>
            </div>
        </div>
    }

    <lm-dialog
        id="lista_categoria_dialog_cadastro_edicao"
        [mostrarDialog]="mostrarDialogCategoria"
        [titulo]="tituloCategoria"
        (aoFechar)="fecharDialogCategoria()"
    >
        <form [formGroup]="formulario">
            <input type="hidden" formControlName="id" />

            <div class="flex flex-col gap-2">
                <label for="nome_categoria" class="text-xs tracking-wide"
                    >Nome <span class="text-red-600">*</span></label
                >
                <input
                    pInputText
                    id="nome_categoria"
                    class="w-full"
                    pSize="small"
                    label="Nome"
                    formControlName="nome"
                    autocomplete="off"
                    (input)="aoDigitar()"
                />
                @if ((nome.touched || nome.dirty) && nome.invalid) {
                    <small class="text-xs text-red-600"
                        >* Campo nome é obrigatório</small
                    >
                }
                @if (!!mensagemErro && !nome.invalid) {
                    <small class="text-xs/tight text-red-600">
                        Erro: {{ mensagemErro }}
                    </small>
                }
            </div>

            <div class="flex justify-end gap-2 mt-4">
                <p-button
                    label="Cancelar"
                    [outlined]="true"
                    (click)="fecharDialogCategoria()"
                    size="small"
                ></p-button>

                <p-button
                    label="Salvar"
                    size="small"
                    type="submit"
                    [loading]="operacaoPendente"
                    [disabled]="operacaoPendente"
                    (click)="salvarCategoria()"
                ></p-button>
            </div>
        </form>
    </lm-dialog>

    <lm-confirm-dialog id="lista_categoria_dialog_confirmar" />
}
