<p-confirmdialog
    [id]="id"
    [style]="{ 'max-width': '100%' }"
    [style]="{ width: largura }"
>
    <ng-template
        #headless
        let-message
        let-onAccept="onAccept"
        let-onReject="onReject"
    >
        <div class="flex flex-col p-4">
            <h4 class="mt-0 font-semibold text-base">{{ message.header }}</h4>
            <p class="mt-4 mb-5 text-sm" [innerHTML]="message.message"></p>
            <div class="flex justify-end gap-2">
                <p-button
                    label="Não"
                    [outlined]="true"
                    (onClick)="onReject()"
                    size="small"
                ></p-button>
                <p-button
                    label="Sim"
                    (onClick)="onAccept()"
                    size="small"
                ></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
