@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme inline {
    --font-inter:
        "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-poppis: "Poppins", sans-serif;
    --font-sans: var(--font-inter);
    --font-golos: "Golos Text", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.p-dialog-close-button:hover,
.p-dialog-close-button:focus-visible {
    outline: 0 none !important;
    background: none !important;
}

.p-floatlabel label {
    font-size: var(--text-sm);
}
