<p-toast style="width: 300px" position="bottom-center">
    <ng-template let-message #message>
        <div class="flex flex-auto shrink flex-col items-start">
            <div class="flex items-center gap-2">
                <h5 class="my-0 text-xs font-medium tracking-wide">
                    {{ message.summary }}
                </h5>
            </div>
            <small class="mt-1 text-xs tracking-wide">{{
                message.detail
            }}</small>
        </div>
    </ng-template>
</p-toast>
